{% extends 'base.html' %}
{% load static %}
{% block title %}Bookstore{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!--carousal-->
        <div class="container">
            <div class="row">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{% static 'images/banner1.png' %}" class="d-block w-100" alt="..." width="400" height="400">
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static 'images/banner2.png' %}" class="d-block w-100" alt="..." width="400" height="400">
                      </div>
                      <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static 'images/banner3.png' %}" class="d-block w-100" alt="..." width="400" height="400">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
       
        <!-- books -->
          <div class="container">
            <div class="row">
              {%comment%}
                <table class="table table-bordered">
                  <thead>
                    <th>Sr.No</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Categoery</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>DOP</th>
                    <th>Photo</th>
                  </thead>
                  <tbody>
                    {% for x in allbooks %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{x.title}}</td>
                      <td>{{x.author}}</td>
                      <td>{{x.category}}</td>
                      <td>{{x.price}}</td>
                      <td>{{x.qut}}</td>
                      <td>{{x.dop}}</td>
                      <td>
                        <img src="{{x.photo.url}}" alt="{{x.title}}" width="200" height="200">
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {%endcomment%}

             
                {% for x in allbooks %}
                <div class="col-md-3">
                <div class="card" style="width: 20rem;">
                  <img src="{{x.photo.url}}" class="card-img-top" alt="{{x.title}}">
                  <div class="card-body">
                    <h5 class="card-title">{{x.title}}</h5>
                    <p class="card-text">Author:{{x.author}}</p>
                    <p class="card-text">Price:{{x.price}}</p>
                    <a href="#" class="btn btn-primary">view more</a>
                  </div>
                </div>
                </div>

                {% endfor %}
              
            </div>
        </div>
        <!-- fixed image -->
         <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{%static 'images/images1.png'%}" alt="" width="300">
                </div>
                <div class="col">
                    <img src="{%static 'images/images2.png'%}" alt="" width="300">
                </div>
                <div class="col">
                    <img src="{%static 'images/images3.png'%}" alt="" width="300">
                </div>

            </div>
         </div>

    </div> 
</div>
{% endblock %}